APP_NAME="Skillective81"
APP_ENV=
APP_KEY=base64:
APP_DEBUG=true
#APP_URL=
APP_URL=

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=array
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120


MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

FB_ID=
FB_SECRET=
FB_REDIRECT=

GOOGLE_ID=
GOOGLE_SECRET=
GOOGLE_REDIRECT=

GOOGLE_API_KEY_PUBLIC=
GOOGLE_API_KEY_PRIVATE=

ANALYTICS_VIEW_ID=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_API_SID=
TWILIO_API_SECRET=
TWILIO_FROM=
WHATSAPP_FROM=

# BRAINTREE sandbox or production
BRAINTREE_ENV=sandbox
BRAINTREE_MERCHANT_ID=3jg8c58qrs84kmbr
BRAINTREE_PUBLIC_KEY=hbvpggrnmgq4n6sv
BRAINTREE_PRIVATE_KEY=b87c17868e8b8396383063dd5f0d2586
BRAINTREE_MASTER_MERCHANT_ACCOUNT_ID=skillective
BRAINTREE_PROCESSING_PERCENT_FEE=2.9
BRAINTREE_TRANSACTION_FIXED_FEE=0.3


