/node_modules
/vendor
/public/hot
/storage/ssr
/storage/*.key
/storage/app/public/profiles/*
/storage/app/public/testimonials/*
/storage/app/public/genres/*
/storage/app/public/users/*
/storage/app/public/videos/*
/storage/app/public/lessons/*
/storage/app/public/media/*
/storage/app/analytics/*
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/medialibrary/*
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.hg
/.hgignore
package-lock.json
package.json
/public/css/app.css
/public/css/app-front.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/storage
/database/seeds/TestSeeder.php
composer.lock
/htdocs
