/node_modules
/public/hot
/public/storage
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.hg
/.hgignore
package-lock.json
package.json
/public/css/app-front.css
/public/css/app.css
/public/js/app.js
/public/js/app.js.LICENSE.txt
/webpack.mix.js
public
