.field-errors {
  &__text {
    font-family: "Hind Vadodara";
    font-size: 16px;
    font-weight: 400;
    color: #db4437;
    display: block;
    margin: 4px 0;
  }

  &--align-right &__text {
    text-align: right;
  }
}