.header--add-lesson {
  background-color: #8ada00;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.navbar.navbar-custom {
  background-color: #fff;
  border-color: #fff;
  min-height: 80px;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 0;
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

  // &.no-shadow {
  //   box-shadow: none;
  // }

  .navbar-brand {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      font-size: 12px;
      display: block;
      margin-top: 4px;
    }

    img {
      max-width: 200px;
    }
  }

  &.navbar-default .navbar-nav > li {
    &:last-child {
      & > a {
        padding-right: 0;
      }
    }

    &.current-menu > a {
      color: #222;
      font-family: "Hind Vadodara";
      font-size: 16px;
      font-weight: 500;
    }

    & > a {
      color: #888;
      font-family: "Hind Vadodara";
      font-size: 16px;
      font-weight: 500;
    }
  }
}

body {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .navbar.navbar-custom > .container,
  .navbar.navbar-custom > .container-fluid {
    padding: 0;

    .navbar-nav {
      li {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    .col-md-2,
    .col-md-10 {
      padding: 0;
    }
  }

  .navbar.navbar-custom {
    min-height: auto;
  }

  body {
    // margin-top: 40px;
    margin-top: 56px;
  }
}

.navbar.navbar-custom.navbar-default .navbar-nav.nav-custom > li > a {
  padding: 25px 15px;
}

.circle-badge {
  display: inline-flex;
  color: #ffffff;
  font-family: "Hind Vadodara";
  font-size: 11px;
  font-weight: 600;
  width: 17px;
  height: 17px;
  background-color: #8ada00;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  top: -1px;
}

.user-menu-wrapper {
  padding-left: 35px;
  align-items: center;
}

.user-menu {
  position: relative;

  .drop-menu {
    position: absolute;
    top: 100%;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 170px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    display: none;

    &.open {
      display: block;
    }

    li {
      a {
        color: #444444;
        font-family: "Hind Vadodara";
        font-size: 16px;
        font-weight: 500;
        display: block;
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid #eeeeee;

        &.logout {
          color: #888888;
          font-family: "Hind Vadodara";
          font-size: 16px;
          font-weight: 500;
        }

        span {
          display: inline-flex;
          color: #ffffff;
          font-family: "Hind Vadodara";
          font-size: 11px;
          font-weight: 600;
          width: 22px;
          height: 17px;
          border-radius: 9px;
          background-color: #aaaaaa;
          justify-content: center;
          align-items: center;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  .user-menu-item {
    text-align: right;
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      padding-right: 5px;
    }

    img {
      flex: 0 0 40px;
      max-width: 40px;
      width: 100%;
      font-size: 0;
    }

    .header-name {
      display: block;
      color: #444444;
      font-family: "Hind Vadodara";
      font-size: 16px;
      font-weight: 600;
    }

    .header-account {
      display: block;
      color: #aaaaaa;
      font-family: "Hind Vadodara";
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.navbar-right~.navbar-right {
  min-height: 70px;
  align-items: center;
}

@media (max-width: 586px) {
  .navbar.navbar-custom.navbar-default .navbar-nav > li > a {
    padding: 10px 30px;
  }
}

.filter-active {
  .navbar-toggle {
    pointer-events: none !important;
  }
}